{% extends "base.html" %}

{% for cat, msg in get_flashed_messages(True) %}
<ul class="list-group">
    <li class="list-group-item list-group-item-{{cat}}">{{msg}}</li>
</ul>
{%endfor %}

{% block title %} 
    {% if title %}
        <title> {{title}} - shop</title>
    {% else %}
        <title>shop</title>
    {% endif %}
{% endblock %}

{% block head %}
{{ super() }}
  <style type="text/css">
    .important { color: green; }
  </style>
{% endblock %}

{% block content %}
<h2 class="important">Most popular products: </h2>
{% for product in products %}
<div class="post">
  <h4><a href="{{ url_for('products.product', product_id=product.id) }}">{{product.title}}</a> {{product.price}}$ </h4>
  <p>{{ product.description | truncate(100)}}</p>
  <b>{{ product.views}} people saw this.</b>
</div>
{% endfor %}
{% endblock %}